* :not(#new-book) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    padding-top: 50px !important;
    padding-right: 150px !important;
    padding-left: 150px !important;
    padding-bottom: 50px !important;
}

#new-book {
    padding: 25px;
    border: none;
    border-radius: 20px;
    min-width: 300px;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-header button {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: none;
}

button:hover {
    cursor: pointer;
}

#book-info h2 {
    margin-bottom: 30px !important;
}

#book-info .form-group {
    margin-bottom: 20px !important;
    display: grid;
    gap: 10px;
}

#book-info .form-group input, select {
    padding: 10px !important;
    font-size: 20px;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: none;
}

#book-info .form-group input:focus {
    outline: none;
}

#new-book-button {
    margin-top: 25px;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#new-book-button svg {
    width: 20px;
    height: 20px;
}

#add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #082f49;
    color: #ffffff;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    width: 150px;
}

#add-book svg {
    fill: #ffffff;
    width: 25px;
    height: 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px !important;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px !important;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.change-status, .eliminate {
    border: none;
    font-size: 10px;
    padding: 5px !important;
    border-radius: 5px;
    width: 55px;
    height: 55px;
}

.change-status svg, .eliminate svg {
    width: 25px;
    height: 25px;
}

.change-status {
    background-color: #10b981;
}

.eliminate {
    background-color: #ef4444;
}
